#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: larger;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.findDiff-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px 20px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.findDiff-button:hover {
  background-color: #0056b3;
}

textarea {
  width: 500px;
  height: 500px;
  font-size: larger;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: auto;
  text-align: center;
  z-index: 1000;
}